assets/
analysis_plots/
val/
.vscode/
cifar10_data/
fgvc_data/
output/
pets/
results_all/
autoattack/
bash/
checkpoint/
CLIP_benchmark/
CLIP_eval/
*/__pycache__/
llava/
LISCENCE
open_flamingo/
pope_eval/
scienceqa_eval/
venv/
venv38/
vlm_eval/
wandb/
*.sh
*.png
*.jpg
*.jpeg
*/*.pyc
train/adversarial_training_clip_cossim_KLadded_noabs_logcorrected_forlogging_0104.py
train/adversarial_training_clip_cossim_KLadded_noabs_logcorrected_forlogging_1224.py
